html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Montserrat", serif;
}

.page {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

.header,
.footer {
  padding: 20px;
  background-color: blue;
}

.content {
  flex: 1 1 auto;
  max-width: 880px;
  margin: 0 auto;
  padding: 40px 20px;
}
